################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetCoreFirstproject/FileContentIndex/2b5936f8-f452-4eae-ab6f-9b7fc85bd787.vsidx
